*.class
bin/
target/
*.java._trace
*.xtendbin
*.xml_gen
src-gen/
xtend-gen/
generated/
ca.ubc.stat.blang.parent/.gradle
.gradle
ca.ubc.stat.blang.parent/ca.ubc.stat.blang.ide/build
ca.ubc.stat.blang.parent/ca.ubc.stat.blang.tests/build
ca.ubc.stat.blang.parent/ca.ubc.stat.blang/build
BlangDslParsingTest.xtend
ca.ubc.stat.blang.parent/ca.ubc.stat.blang.web/build
ca.ubc.stat.blang.parent/ca.ubc.stat.blang.tests/actuals
